ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
  border-bottom: 4px solid lightblue;
  border-top: 4px solid lightblue;
}
li{
  display: inline-block;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0.5rem;
  display: block;
}
a:hover {
  background-color: lightblue;
  color: white;
}

h3{font-size:17px;}